//PRIMARY COLORS
$primary-50: #FFDBA4; // Lightest shade
$primary-100: #FFD180;
$primary-200: #FFC45C;
$primary-300: #FFB739;
$primary-400: #FFAB1F;
$primary-500: #FFA500; // Base color
$primary-600: #E69500;
$primary-700: #D58700;
$primary-800: #C47900;
$primary-900: #B26B00; // Darkest shade


$grey-50: hsl(210, 36%, 96%) !default;

/* clr-grey used for paragraphs */
$grey-100: hsl(212, 33%, 89%) !default;
$grey-200: hsl(210, 31%, 80%) !default;
$grey-300: hsl(211, 27%, 70%) !default;
$grey-400: hsl(209, 23%, 60%) !default;
$grey-500: hsl(210, 22%, 49%) !default;

/* darkest grey - used for headings */
$grey-600: hsl(209, 28%, 39%) !default;
$grey-700: hsl(209, 34%, 30%) !default;
$grey-800: hsl(211, 39%, 23%) !default;
$grey-900: hsl(209, 61%, 16%) !default;

//LIGHT-GREY

$light-grey-100:#F8F8F8 !default;
$light-grey-200: #F5F5F5 !default;
$light-grey-300: #F0F0F0 !default;
$light-grey-400: #E8E8E8 !default;
$light-grey-500: #E0E0E0 !default;
$light-grey-600: #DCDCDC !default;
$light-grey-700: #D8D8D8!default;
$light-grey-800: #D3D3D3 !default;



	

	
	
	




$black: #000000;
$white: #ffffff