$ff-primary: 'Lato', sans-serif  !default;
$transition: all 0.3s linear  !default;
$spacing: 0.25rem  !default;
$radius: 0.5rem  !default;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1)  !default;
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2)  !default;