@import '../abstracts/colors';
@import '../abstracts/mixins';

.card {
    border: 1px solid $grey-50;
    background-color: $white;
    border-radius: .5rem;
    padding: 1rem;
    place-items: center;
    position: relative;

    .card-header {
        @include flex-container(row, nowrap, space-between, flex-start);
        .tag {
            padding: .25rem;
            background-color: $primary-100;
            border-radius: .2rem;
            font-size: small;
            color: $primary-900;
            margin-top: 0 
            
        }

        .choices {
            @include flex-container(row, nowrap, space-between, center);
            gap: 1rem;
        }
        img {
            height: 1.2rem;
            width: 1.2rem;
        }
    }

    .card-img {
        max-width: 300px;
        max-height: 300px;
        // margin: 0 auto;
        
        filter: brightness(0.99);
        img {
            height: 100%;
            border-radius: .3rem;
            width: 100%;
            aspect-ratio: 4/4;
            background-color: rgba(255, 255, 255, 0.5);

        }
    }

    & .product-details {
        text-align: center;
        .name {
            text-transform: uppercase;
            color: $primary-500;
        }
        .description {
            color: rgba($black, .8);
            font-weight: 500;
        }
        .current-price {
            font-weight: bold;
            font-size: 1.2rem;

            .discount {
                color: $primary-500;
                font-weight: lighter;
                font-size: 1rem;
            }
        }

        .original-price {
            font-size: 1rem;
            color: $light-grey-800;
            text-decoration: line-through;
        }

        
    }

    .emi {
        text-transform: capitalize;
        font-size: 1rem;
        color: $grey-700;
        text-align: center;
    }

    & .available-sizes {
        text-align: center;
        text-transform: capitalize;
        font-size: medium;
        font-weight: 700;
        min-height: 100px;

        .sizes {
            font-size: small;
            font-weight: 400;
        }
    }

    & .card-footer {
        @include flex-container(row, nowrap, space-between, center);
        position: absolute;
        bottom: 0;
        width: 90%;
        border-top: 1px solid $light-grey-800;
        padding: .8rem;
        img {
            height: 1.2rem;
            width: 1.2rem;
        }
        p {
            margin-bottom:  0;
        }
        .like-section {
            a {
                @include flex-container(row, nowrap, space-between, center);
                gap: .3rem;
                cursor: pointer;
            }
        }
    }
}