@import '../abstracts/colors';

div.search-container {
    position: relative;
    min-width: 12.5rem;
    max-width: 15.625rem;
    width: 100%;

    input {
        padding: .7rem;
        border: 1px solid $light-grey-500;
        border-radius: .2rem;
        // min-width: 12.5rem;
        // max-width: 15.625rem;
        width: 100%;
        box-shadow: .0625rem .0625rem .1875rem $light-grey-300;
    }

    img {

        position: absolute;
        top: calc(50% - .5rem);
        right: .8rem;
        height: 1rem;
        width: 1rem;
    }
}